.navbar-app-bar {
  box-shadow: none;
  padding: .5rem 0;
}

.navbar-logo {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-container {
  background: #333652;
  color: #ffff;
  border-radius: var(--border-radius);
}